<!DOCTYPE html>
<html>
<head><title>Upload</title></head>
<body>
  <h1>Upload an Image</h1>
  <form action="/upload" method="POST">
    <input name="title" placeholder="Title" required /><br>
    <input name="url" placeholder="Image URL" required /><br>
    <button>Submit</button>
  </form>
  <a href="/my-wall">My Wall</a> | <a href="/">All</a>
</body>
</html>
